<div class="sectionContainer">
	<div class="section">
		<div class="sectionTitle">
			<span class="messageTitle">Boxes</span>
		</div>
		<div class="sectionContent">
			<div ng-show="boxesData.length === 0">
				<span class="infoMessage">No Boxes are defined for your workspace yet !</span>
			</div>
			<table class="table table-striped table-condensed table-hover" ng-hide="boxesData.length === 0">
				<thead>
					<tr class="columnHeading">
						<td>#</td>
						<td>VagrantID</td>
						<td>HostName</td>
						<td>Docker Image</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="box in boxesData">
						<td>{{$index + 1}}</td>
						<td><span ng-bind="box.vagrantID"></span></td>
						<td><span ng-bind="box.hostName"></span></td>
						<td><span ng-bind="box.dockerImage"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="section">
		<div class="sectionTitle">
			<span class="messageTitle">Scripts</span>
		</div>
		<div class="sectionContent">
			<div ng-show="shellScripts.length === 0">
				<span class="infoMessage">No Scripts are defined for your workspace yet !</span>
			</div>
			<table class="table table-striped table-condensed table-hover" ng-hide="shellScripts.length === 0">
				<thead>
					<tr class="columnHeading">
						<td>#</td>
						<td>ScriptID</td>
						<td>Script Name</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="script in shellScripts">
						<td>{{$index + 1}}</td>
						<td><span ng-bind="script.scriptID"></span></td>
						<td><span ng-bind="script.scriptName"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="section">
		<div class="sectionTitle">
			<span class="messageTitle">Modules</span>
		</div>
		<div class="sectionContent">
			<div ng-show="projectData.modules.length === 0">
				<span class="infoMessage">No Modules are defined for your workspace yet !</span>
			</div>
			<table class="table table-striped table-condensed table-hover" ng-hide="projectData.modules.length === 0">
				<thead>
					<tr class="columnHeading">
						<td>#</td>
						<td>ModuleID</td>
						<td>Module Name</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="module in projectData.modules">
						<td>{{$index + 1}}</td>
						<td><span ng-bind="module.puppetID"></span></td>
						<td><span ng-bind="module.moduleName"></span></td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
</div>


<!--<div ng-show="projectData.modules.length == 0">
	<span class="messageTitle">No Modules found</span>
</div>
<div ng-show="projectData.modules.length >0 && projectData.activeModule === null">
	<span class="messageTitle">Select a module to manage</span>
</div>-->
