<div class="modal fade" id="boxModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" >
		    <div class="modal-content">
		    	<div class="modal-header">
					<h4 class="modal-title">Create/update your box configurations</h4>
		        </div>
		        <div class="modal-body" >
		        	
					<div class="boxConfigs" >
						<ul id="boxConfigTabs" class="nav nav-tabs" role="tablist">
						    <li class="active"><a data-target="#machine" role="tab" data-toggle="tab">Box Settings</a></li>
							<li class=""><a data-target="#folders" role="tab" data-toggle="tab">Folders</a></li>
						</ul>
						<div id="boxConfigContent" class="tab-content" style="position:relative;">
								
							<div class="tab-pane fade active in container-fluid" id="machine">
							<form name="quickBoxForm">

						  			<div class="boxConfig"> <span class="boxConfigTitles" >Vagrant ID<sup>*</sup></span>
						              <input name="vagrantID"
						              		 type="text" 
						              		 ng-pattern="/^[a-z]{1,10}$/"
						              		 ng-change="checkValidity.vagrantID(quickBoxForm)"
											 ng-model="rawBox.vagrantID"
											 class="form-control" 
											 ng-maxlength="8" ng-disabled="projectData.boxesState.update"
											 required/>
										<div ng-messages="quickBoxForm.vagrantID.$error" >
						            		<div ng-message="alreadyExists" class="errorMessage">This vagrant ID is already in use</div>
						            		<div ng-message="pattern" class="errorMessage">Invalid pattern</div>
						            		<div ng-message="maxlength" class="errorMessage">Maximum of 8 chars</div>
						            	</div>
						            							            </div>
								<div class="boxConfig">
									<span class="boxConfigTitles">Aws Region<sup>*</sup></span>
									<select name="instanceRegion" ng-model="rawBox.instanceRegion" class="form-control" required  ng-disabled="projectData.boxesState.update">
										<option value="ap-northeast-1">Asia Pacific (Tokyo)</option>
										<option value="ap-southeast-1">Asia Pacific (Singapore)</option>
										<option value="ap-southeast-2">Asia Pacific (Sydney)</option>
										<option value="eu-central-1">EU (Frankfurt)</option>
										<option value="eu-west-1">EU (Ireland)</option>
										<option value="sa-east-1">South America (Sao Paulo)</option>
										<option value="us-east-1">US East (N. Virginia)</option>
										<option value="us-west-1">US West (N. California)</option>
										<option value="us-west-2">US West (Oregon)</option>
									</select>
								</div>
								<div class="boxConfig"><span class="boxConfigTitles">Aws Machine Identity<sup>*</sup></span>
									<div class="row" >
										<div class="col-md-10" >
											 <input
												name="machineAmi" type="text" ng-model="rawBox.machineAmi" 
												class="form-control" required ng-disabled="projectData.boxesState.update"
												ng-pattern="/^(ami-)[a-zA-Z0-9]{8}$/" />
											<div ng-messages="quickBoxForm.machineAmi.$error" >
							            		<div ng-message="pattern" class="errorMessage">Invalid pattern example ami-********</div>
						            			<div ng-message="validationMessage" class="errorMessage">Enter valid ami id</div>						            		
						            		</div>
						            			<div ng-show="amiStatus" >
							            		<div class="errorMessage">Ami id validated</div>
						            		</div>
						            	</div>
						            	<div class="col-md-2">
											<button class="btn btn-success" ng-click="validateMachineAmi(quickBoxForm)" 
											ng-disabled=" quickBoxForm.instanceRegion.$invalid || projectData.boxesState.update || quickBoxForm.machineAmi.$error.pattern || quickBoxForm.machineAmi.$error.required" >validate</button>
										</div>
									</div>
							     </div>
								<div class="boxConfig" >
									<span class="boxConfigTitles">Instance Category<sup>*</sup></span>
									<select name="instanceCategory" ng-model="rawBox.instanceCategory" ng-change="onCategoryChange(rawBox.instanceCategory)"  
											ng-options="value for (key,value) in instanceCategory" class="form-control" required >
									</select>
								</div>
								<div class="boxConfig" >
									<span class="boxConfigTitles">Instance Type<sup>*</sup></span> <select
										name="instanceType" ng-model="rawBox.instanceType" ng-options="key for (key,value) in instanceTypes" 
										class="form-control" required  ></select>
								</div>
  								<div class="boxConfig">
									<span class="boxConfigTitles">SSH User Name<sup>*</sup></span> <input
										name="sshUserName" type="text" ng-model="rawBox.sshUserName"
										class="form-control" required />
								</div> 
							</form>
									</div>
									<div class="tab-pane fade container-fluid" id="folders">
											<div class="boxConfigFxdTop">
												<div ng-repeat="mapping in rawBox.syncFolders">
										  			<div class="row">
										  				<div class="boxConfig col-sm-6">
									  					<span class="boxConfigTitles">Host Folder<sup>*</sup></span>
									  				</div>	
									  				<div class="boxConfig col-sm-6">
									  					<span class="boxConfigTitles pull-right">VM Folder<sup>*</sup></span>
									  				</div>	
										  			</div>
									  			<div class="row">
									  				<div class="col-sm-4 ">
										  				<input 	name="hostFolder" 			type="text"
																ng-model="mapping.hostFolder" 
																class="form-control" />
									  				</div>	
									  				<div class="col-sm-4  text-center">
									  					<div>
										  					<button type="button" ng-click="deleteFolderMapping($index)">
																<i class="fa fa-close"></i>
															</button>
									  					</div>
									  				</div>
									  				<div class="col-sm-4 ">
										  				<input 	name="syncFolder" 			type="text" 
																ng-model="mapping.vmFolder" 
																class="form-control" />
									  				</div>
									  			</div>
									  		</div>
											</div>
											<div class="boxConfigFxdBtm">
												<a data-target="#" ng-click="addSyncFolderMapping()">
												<span> <i class="fa fa-exchange"></i> Add Folder Mapping </span>
											</a>
											</div>
									</div>
							</div>
							
					</div>
					
				</div>
				<div class="modal-footer">
					<button class="btn btn-link" ng-click="closeModal(rowBox)">Close</button>
					<button class="btn btn-success" ng-disabled="quickBoxForm.$invalid " ng-click="createAwsBoxes(rawBox)" ng-hide="projectData.boxesState.update" ><span
									ng-show="quickBoxCommitLoader"
									ng-init="quickBoxCommitLoader = false"><i
										class="fa fa-spin fa-refresh"></i></span> <span
									ng-show="!quickBoxCommitLoader"> Create Box </span></button>
					<button class="btn btn-success" ng-click="updateBox()" ng-show="projectData.boxesState.update">Update</button>

				</div>
			</div>
		</div>
	</div>


	